@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

html {
  background: var(--background);
  min-height: 100svh;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

body {
  height: 100svh;
}
