@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: Helvetica, "Helvetica-Neue", Arial sans-serif;
  --font-mono: "Spline Sans Mono", monospace;
  --color-muted-foreground: #888888;
}

:root {
  --background: #171717;
  --foreground: #ffffff;
  font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

html {
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
}

body {
  height: 100svh;
}
